.fungus {
    position: relative;
    padding: 83px 15px 0 30px;
    text-align: center;
}

.fungus::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 92px;
    height: 65px;
    background: url("../image/circles.png") no-repeat 0 0;
}

.fungus__title {
    margin: 0;
    margin-bottom: 35px;
    font-size: 48px;
    line-height: 48px;
    font-weight: $font-weight-black;
    color: $dark-black;
}

.fungus__text {
    margin: 0;
    margin-bottom: 45px;
    font-size: 24px;
    font-weight: $font-weight-bold;
    line-height: 28px;
    color: $black-text;
}

.fungus__statistics {
    position: relative;
    max-width: 990px;
    padding: 44px 86px 38px 89px;
    margin: 0;
    font-size: 22px;
    line-height: 28px;
    color: $light-black;
    border: 3px solid $orange-f4;
}

.fungus__statistics--medium {
    font-weight: $font-weight-medium;
    color: $black;
}

.fungus__statistics::before {
    content: "";
    position: absolute;
    margin: 0 auto;
    top: -16px;
    left: 0;
    right: 0;
    width: 170px;
    height: 37px;
    background: url("../image/statistics.jpg") no-repeat 0 0;
}

@media (max-width: $width-992) {
    .fungus {
        padding: 0 30px;
    }

    .fungus__title {
        padding-top: 65px;
    }
}

@media (max-width: $width-768) {
    .fungus__statistics {
        padding: 15px;
        padding-top: 35px;
    }
}

@media (max-width: $width-640) {
    .fungus {
        margin-bottom: 30px;
    }
    
    .fungus__title {
        margin-bottom: 20px;
        font-size: 36px;
        line-height: 36px;
        font-weight: $font-weight-bold;
    }

    .fungus__text {
        font-size: 20px;
        line-height: 24px;
        font-weight: $font-weight-medium;
    }

    .fungus__statistics {
        padding: 10px;
        padding-top: 35px;
        font-size: 16px;
        line-height: 18px;
    }
}