.header-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

.header-background__image {
    width: 100%;
    height: 840px;
    object-fit: cover;
}

.header-background__legs {
    position: absolute;
    top: -70px;
    left: -240px;
    width: calc(788 / 1170 * 100%);
}

@media (max-width: $width) {
    .header-background {
        opacity: 0.6;
    }
}

@media (max-width: $width-992) {
    .header-background {
        opacity: 0.1;
    }
}

@media (max-width: $width-640) {
    .header-background {
        display: none;
    }
}