.instruction {
    position: relative;
    width: 100%;
    padding-top: 200px;
    background: url("../image/instruction-background.png") no-repeat 0 0;
    text-align: center;
}

.instruction::before {
    content: "";
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 92px;
    height: 65px;
    background: url("../image/circles.png") no-repeat 0 0;
}

.instruction__title {
    max-width: 560px;
    margin: 0 auto 75px;
    padding: 0 15px;
    font-size: 47px;
    line-height: 48px;
    font-weight: $font-weight-black;
    color: $black;
}

@media (max-width: $width-992) {
    .instruction__title {
        width: calc(100% - 30px);
    }

    .instruction__image {
        display: none;
    }
}

@media (max-width: $width-640) {
    .instruction {
        padding-top: 70px;
        background: none;
        background-color: $blue-ec;
    }

    .instruction::before {
        top: 10px;
    }

    .instruction__title {
        margin-bottom: 30px;
        font-size: 30px;
        line-height: 30px;
    }
}
