.intro {
    margin-bottom: 20%;
}

@media (max-width: $width) {
    .intro {
        margin-bottom: 100px;
    }
}

@media (max-width: $width-992) {
    .intro {
        margin-bottom: 50px;
    }
}

@media (max-width: $width-640) {
    .intro {
        padding-bottom: 10px;
        background-color: $blue-ec;
    }
}


  

