body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: $dark-black;
    text-align: left;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto300.woff") format("woff"),
        url("../fonts/roboto300.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-regular.woff") format("woff"),
        url("../fonts/roboto-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-italic.woff") format("woff"),
        url("../fonts/roboto-italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto500.woff") format("woff"),
        url("../fonts/roboto500.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto700.woff") format("woff"),
        url("../fonts/roboto700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto900.woff") format("woff"),
        url("../fonts/roboto900.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.mikocin {
    color: $red-fa;
}

.list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}