$width: 1200px;
$width-1024: 1024px;
$width-992: 992px;
$width-768: 768px;
$width-640: 640px;
$width-320: 320px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;


$black: #000000;
$white: #ffffff;
$dark-black: #383334;
$black-text: #2b2828;
$light-black: #444444;
$dark-grey: #0b0b0b;
$black-22: #222222;
$grey: #666666;
$grey-d2: #d2dce6;
$grey-background: #eef2f7;
$red: #ff6b00;
$red-fa: #fa4f01;
$red-f6: #f64d01;
$orange1: #ec9a6a;
$orange2: #e47643;
$orange3: #ec5b19;
$orange-e5: #e5d0b9;
$orange-f4:#f4d3bb;
$grey-be: #becbd8;
$blue-ec: #ecf7f8;
$blue-f8: #f8fdfe;
$blue-f2: #f2fafb;
$green: #a7c93d;
$green-a8: #a8c53a;
$green-62: #62bd1f;
$green-7b: #7bbf1c;
$light-green: #e8edc9;
$light-green: #9dbd39;

